<form action="/api/users/validatelogin" method="post">
<table>
    <tr>
        <td> User Name </td>
        <td> <input type="text" id="username" name="username"> </td>
    </tr>
     <tr>
        <td> Password </td>
        <td> <input type="password" id="password" name="password"> </td>
    </tr>
    
    <tr>
        <td></td>
        <td>
            <div><input type="submit" id="btnLogin" value="Login"> </div>
        </td>
    </tr>
   
     <tr>
        <td> <a id="lnkRegister" href="/api/users/register" >Sign up</a> </td>
        
    </tr>
</table>
</form>