<form action="/api/users/save" method="post">
<table>
    <tr>
        <td> User Name </td>
        <td> <input type="text" id="username" name="username"> </td>
    </tr>
     <tr>
        <td> Password </td>
        <td> <input type="password" id="password" name="password"> </td>
    </tr>
     <tr>
        <td> Email </td>
        <td> <input type="text" id="Email" name="Email"> </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div><input type="submit" id="btnRegister" value="Register"> </div>
        </td>
    </tr>
</table>
</form>